[package]
name = "ddns-cloudflare"
version = "0.0.0"
authors = ["Patrick Koenig <pkoenig10@gmail.com>"]
edition = "2018"

[dependencies]
anyhow = "1.0.51"
chrono = "0.4.19"
log = { version = "0.4.14", features = ["std"] }
reqwest = { version = "0.11.7", features = ["blocking", "json"] }
serde = { version = "1.0.130", features = ["derive"] }
trust-dns-client = "0.20.3"
url = "2.2.2"
